<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>

        <form action="/add" method="POST">
            <legend>
                Add a task
            </legend>
            <div class="form-group">
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <textarea name="description" id="description" class="text-area form-control"></textarea>
            </div>
            <button class="btn btn-primary">
                Add
            </button>
        </form>
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < tasks.length; i++) { %>
                   <tr>
                       <td><%= i + 1 %></td>
                       <td><%= tasks[i].title %></td>
                       <td><%= tasks[i].description %></td>
                       <td>
                           <a href="/turn/<%= tasks[i]._id %>" class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark' %>">Done</a>
                           <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                       </td>
                   </tr> 
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>